In [1]:
import numpy as np
import pandas as pd

In [9]:
df=pd.read_csv(r"C:\Users\sijan\Downloads\tiktok_dataset.csv")

In [10]:
df.head(10)
df.describe()

,#,video_id,video_duration_sec,video_view_count,video_like_count,video_share_count,video_download_count,video_comment_count
count,19382.000000,1.938200e+04,19382.000000,19084.000000,19084.000000,19084.000000,19084.000000,19084.000000
mean,9691.500000,5.627454e+09,32.421732,254708.558688,84304.636030,16735.248323,1049.429627,349.312146
std,5595.245794,2.536440e+09,16.229967,322893.280814,133420.546814,32036.174350,2004.299894,799.638865
min,1.000000,1.234959e+09,5.000000,20.000000,0.000000,0.000000,0.000000,0.000000
25%,4846.250000,3.430417e+09,18.000000,4942.500000,810.750000,115.000000,7.000000,1.000000
50%,9691.500000,5.618664e+09,32.000000,9954.500000,3403.500000,717.000000,46.000000,9.000000
75%,14536.750000,7.843960e+09,47.000000,504327.000000,125020.000000,18222.000000,1156.250000,292.000000
max,19382.000000,9.999873e+09,60.000000,999817.000000,657830.000000,256130.000000,14994.000000,9599.000000

In [24]:
df.info
df.head(25)

,#,claim_status,video_id,video_duration_sec,video_transcription_text,verified_status,author_ban_status,video_view_count,video_like_count,video_share_count,video_download_count,video_comment_count
0,1,claim,7017666017,59,someone shared with me that drone deliveries a...,not verified,under review,343296.0,19425.0,241.0,1.0,0.0
1,2,claim,4014381136,32,someone shared with me that there are more mic...,not verified,active,140877.0,77355.0,19034.0,1161.0,684.0
2,3,claim,9859838091,31,someone shared with me that american industria...,not verified,active,902185.0,97690.0,2858.0,833.0,329.0
3,4,claim,1866847991,25,someone shared with me that the metro of st. p...,not verified,active,437506.0,239954.0,34812.0,1234.0,584.0
4,5,claim,7105231098,19,someone shared with me that the number of busi...,not verified,active,56167.0,34987.0,4110.0,547.0,152.0
5,6,claim,8972200955,35,someone shared with me that gross domestic pro...,not verified,under review,336647.0,175546.0,62303.0,4293.0,1857.0
6,7,claim,4958886992,16,someone shared with me that elvis presley has ...,not verified,active,750345.0,486192.0,193911.0,8616.0,5446.0
7,8,claim,2270982263,41,someone shared with me that the best selling s...,not verified,active,547532.0,1072.0,50.0,22.0,11.0
8,9,claim,5235769692,50,someone shared with me that about half of the ...,not verified,active,24819.0,10160.0,1050.0,53.0,27.0
9,10,claim,4660861094,45,someone shared with me that it would take a 50...,verified,active,931587.0,171051.0,67739.0,4104.0,2540.0
10,11,claim,8095102436,47,someone shared with me that an average user sp...,not verified,active,695641.0,238030.0,23062.0,1719.0,378.0
11,12,claim,4507218541,30,someone shared with me that the world generate...,not verified,active,482046.0,168107.0,19474.0,3282.0,532.0
12,13,claim,3609761483,51,someone shared with me that the longest record...,not verified,active,700081.0,434565.0,97995.0,2408.0,1411.0
13,14,claim,3850678773,20,someone shared with me that 1920 was the last ...,not verified,under review,929685.0,497236.0,154917.0,1225.0,805.0
14,15,claim,1656032315,42,someone shared with me that american basketbal...,not verified,active,937231.0,237318.0,81496.0,1867.0,960.0
15,16,claim,9277685719,10,someone shared with me that the city with the ...,not verified,active,746186.0,193.0,29.0,2.0,0.0
16,17,claim,9346511024,11,someone shared with me that a dog’s sense of s...,not verified,active,923007.0,67714.0,17710.0,845.0,536.0
17,18,claim,9533847147,27,someone shared with me that a common garden sn...,not verified,active,467702.0,40435.0,2804.0,495.0,327.0
18,19,claim,2359906270,11,someone shared with me that we only see the sa...,not verified,active,168594.0,105245.0,37929.0,1723.0,694.0
19,20,claim,7146819625,34,someone shared with me that the moon was once ...,not verified,active,249935.0,20437.0,2240.0,212.0,70.0
20,21,claim,3827012052,27,someone shared with me that neptune radiates m...,not verified,active,550259.0,30528.0,6704.0,258.0,88.0
21,22,claim,6940114042,20,someone shared with me that there are more sta...,not verified,active,510989.0,162612.0,26745.0,2507.0,1283.0
22,23,claim,7986031283,52,"someone shared with me that about once a year,...",not verified,banned,60096.0,34245.0,11345.0,219.0,77.0
23,24,claim,5733649579,54,someone shared with me that through the season...,not verified,active,750942.0,136252.0,27119.0,2637.0,1206.0
24,25,claim,2736327047,39,someone shared with me that elephants will con...,not verified,active,353722.0,39844.0,10399.0,181.0,54.0

In [23]:
"""The .value_counts() method is specific to the pandas library.
It is used to count the occurrences of unique values in a pandas Series or DataFrame column.
"""
# What are the different values for claim status and how many of each are in the data?
df.head(10)
df['claim_status'].value_counts()
#it shows thatt in the column claim_status there are 9608 claims and 9476 opinion

claim_status
claim      9608
opinion    9476
Name: count, dtype: int64

In [29]:
# What is the average view count of videos with "claim" status?
claims=df[df['claim_status']=='claim']
print("The mean view count:",claims['video_view_count'].mean())
print("The median view count:",claims['video_view_count'].median())

The mean view count: 501029.4527477102
The median view count: 501555.0

In [35]:
# What is the average view count of videos with "opinion" status?
Oclaims=df[df['claim_status']=='opinion']
print("The mean view count:",Oclaims['video_view_count'].mean())
print("The median view count:",Oclaims['video_view_count'].median())

The mean view count: 4956.43224989447
The median view count: 4953.0

The mean and the median within each claim category are close to one another, but there is a vast discrepancy between view counts for videos labeled as claims and videos labeled as opinion

In [36]:
# Get counts for each group combination of claim status and author ban status

df.groupby(['claim_status', 'author_ban_status']).count()[['#']]

                                   #
claim_status author_ban_status
claim        active             6566
             banned             1439
             under review       1603
opinion      active             8817
             banned              196
             under review        463

There are many more claim videos with banned authors than there are opinion videos with banned authors. This could mean a number of things, including the possibilities that:

Claim videos are more strictly policed than opinion videos
Authors must comply with a stricter set of rules if they post a claim than if they post an opinion
Also, it should be noted that there's no way of knowing if claim videos are inherently more likely than opinion videos to result in author bans, or if authors who post claim videos are more likely to post videos that violate terms of service.

In [38]:
#let's Calculate the median video share count of each author ban status.
df.groupby(['author_ban_status']).agg(
    {'video_view_count': ['mean', 'median'],
     'video_like_count': ['mean', 'median'],
     'video_share_count': ['mean', 'median']})

                  video_view_count           video_like_count            \
                              mean    median             mean    median
author_ban_status
active               215927.039524    8616.0     71036.533836    2222.0
banned               445845.439144  448201.0    153017.236697  105573.0
under review         392204.836399  365245.5    128718.050339   71204.5

                  video_share_count
                               mean   median
author_ban_status
active                 14111.466164    437.0
banned                 29998.942508  14468.0
under review           25774.696999   9444.0


The .agg() function in Python, particularly in pandas, is used to apply one or more aggregation functions to a DataFrame or specific columns within the DataFrame. It allows you to perform custom aggregations or apply multiple aggregation functions simultaneously.

In [39]:
# What's the median video share count of each author ban status?

df.groupby(['author_ban_status']).median(numeric_only=True)[
    ['video_share_count']]

                   video_share_count
author_ban_status
active                         437.0
banned                       14468.0
under review                  9444.0

 Banned authors have a median share count that's 33 times the median share count of active authors!let's Explore this in more depth.

In [40]:

df.groupby(['author_ban_status']).agg(
    {'video_view_count': ['count', 'mean', 'median'],
     'video_like_count': ['count', 'mean', 'median'],
     'video_share_count': ['count', 'mean', 'median']
     })

                  video_view_count                          video_like_count  \
                             count           mean    median            count
author_ban_status
active                       15383  215927.039524    8616.0            15383
banned                        1635  445845.439144  448201.0             1635
under review                  2066  392204.836399  365245.5             2066

                                           video_share_count                \
                            mean    median             count          mean
author_ban_status
active              71036.533836    2222.0             15383  14111.466164
banned             153017.236697  105573.0              1635  29998.942508
under review       128718.050339   71204.5              2066  25774.696999


                    median
author_ban_status
active               437.0
banned             14468.0
under review        9444.0

In [41]:
#let's create likes per view column
df['likes_per_view'] = df['video_like_count'] / df['video_view_count']

# Create a comments_per_view column
df['comments_per_view'] = df['video_comment_count'] / df['video_view_count']

# Create a shares_per_view column
df['shares_per_view'] = df['video_share_count'] / df['video_view_count']

In [42]:
df.groupby(['claim_status', 'author_ban_status']).agg(
    {'likes_per_view': ['count', 'mean', 'median'],
     'comments_per_view': ['count', 'mean', 'median'],
     'shares_per_view': ['count', 'mean', 'median']})

                               likes_per_view                      \
                                        count      mean    median
claim_status author_ban_status
claim        active                      6566  0.329542  0.326538
             banned                      1439  0.345071  0.358909
             under review                1603  0.327997  0.320867
opinion      active                      8817  0.219744  0.218330
             banned                       196  0.206868  0.198483
             under review                 463  0.226394  0.228051

                               comments_per_view                      \
                                           count      mean    median
claim_status author_ban_status
claim        active                         6566  0.001393  0.000776
             banned                         1439  0.001377  0.000746
             under review                   1603  0.001367  0.000789
opinion      active                         8817  0.000517  0.000252
             banned                          196  0.000434  0.000193
             under review                    463  0.000536  0.000293

                               shares_per_view
                                         count      mean    median
claim_status author_ban_status
claim        active                       6566  0.065456  0.049279
             banned                       1439  0.067893  0.051606
             under review                 1603  0.065733  0.049967
opinion      active                       8817  0.043729  0.032405
             banned                        196  0.040531  0.030728
             under review                  463  0.044472  0.035027

We know that videos by banned authors and those under review tend to get far more views, likes, and shares than videos by non-banned authors. However, when a video does get viewed, its engagement rate is less related to author ban status and more related to its claim status.

Also, we know that claim videos have a higher view rate than opinion videos, but this tells us that claim videos also have a higher rate of likes on average, so they are more favorably received as well. Furthermore, they receive more engagement via comments and shares than opinion videos.

Note that for claim videos, banned authors have slightly higher likes/view and shares/view rates than active authors or those under review. However, for opinion videos, active authors and those under review both get higher engagement rates than banned authors in all categories.

Returning to the purpose of this analysis, at this point in the investigation it seems that engagement level is strongly correlated with claim status, and this should be a focus of further inquiry.