In [1]:
L=[2,3,4,5,6]
h=[4,5,6,4]
print(h+L)

[4, 5, 6, 4, 2, 3, 4, 5, 6]

In [2]:
import random 
sample=random.sample(range(1,100),8)#random.sample helps us generating  random samples in range provided
print(sample)

[5, 78, 89, 43, 90, 80, 74, 11]

In [3]:
#we can also do...
listt=[2,3,4,5,6,7,8]

#let's generate 4 random numbers from the list
print(random.sample(listt,4))

[5, 7, 6, 3]

In [4]:
#random.randint is used to generate a random integer within the given range 
print(random.randint(1,45))

9

In [5]:
jenish=[23,44,56,76,33,223,44,56,78]
print(jenish[2:])

[56, 76, 33, 223, 44, 56, 78]

In [6]:
jenish[::4]

[23, 33, 78]

In [7]:
reversed_list=jenish[::-1]
print(reversed_list)

[78, 56, 44, 223, 33, 76, 56, 44, 23]

In [8]:
jenish.reverse()
print(jenish)

[78, 56, 44, 223, 33, 76, 56, 44, 23]

In [9]:

L=[]
for i in range(10):
    print(i+1)
    L.append(i)
print(L)

1
2
3
4
5
6
7
8
9
10
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
L[2::]

[2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
L[::4]

[0, 4, 8]

In [ ]:
# Get the number of terms from the user
num_terms = int(input("Enter the number of terms: "))

# Initialize the first two terms
a, b = 0, 1

# Print the Fibonacci series
print("Fibonacci series:")
for _ in range(num_terms):
    print(a, end=" ")
    a, b = b, a + b

In [ ]:
#end ko kam 
# Example 1
print("Hello", end=" ")
print("World")
# Output: Hello World

# Example 2
print("Python", end="-")
print("Programming", end="-")
print("Language")
# Output: Python-Programming-Language

In [ ]:
L={'apple', 5, 'cherry'}
for x in L:
    print(x)
else:
    print("loop terminates with success")
print('outside the loop')

## exploring a dictionary

In [ ]:
D={"apple":44,"cherry":"game"}#here apple is the key and 44 is the value and similarly cherry is key and game is value
for x in D:
    print(x,D[x])

In [ ]:
"""given list of numbers i.e.[1,2,3,4,5,6,22,-34], make another list that contain all the items in sorted order from minimum to
maximum
"""
phalange=[1,2,3,4,5,6,22,-34]
phalange.sort()
print(phalange)

# insert

In [ ]:
#let us make a list first
listt=[1,2,44,4,5]
#now what we can do is insert any value at any desired position
listt.insert(0,0)#(place where we want to add, what we want to add)
listt
listt.insert(5,6)
listt.pop(3)

In [ ]:
listt

In [ ]:

listt
#listt.remove(3)#while removing we donot specify the place in the list but the actual value
listt.remove(0)
listt

# tuple

In [ ]:
#we cannot update the value of tuple
sijan=(22,33,44,56,77,22,33,45,22)
#let's count how many 22s are there in our tuple 
sijan.count(22)

In [ ]:
#write a program to store seven fruits in a list entere by the user 
myList=[]
for i in range (3):
    user=input("enter fruit name:")
    myList.append(user)
print(myList)

In [ ]:
#write a program to accept marks of 6 students and display them in sorted format
marks=[]
students=int(input("marks obtained:"))
for _ in range (6):
    students=int(input("marks obtained:"))
    marks.append(students)
marks.sort()
marks

In [ ]:
#write a program to sum a list with 4 numbers
harry=[2,3,4,5]
sum=0
for i in (harry):
    sum=sum+i
sum

In [ ]:
#let's make a dictionary
myDict={
    "dad":"Jeevan",
    "age":43,
    "mom":"silsila",
    "my_marks":[23,45,65,33]
}
print(myDict["my_marks"])

In [ ]:
print(myDict.values())

In [ ]:
print(myDict.items())

In [ ]:
add={
    "kec":"solution set"
}
myDict.update(add)

In [ ]:
myDict

In [ ]:
## there are no repetitive items in the set
set_sijan={1,3,4,5,6,4}

print(type(set_sijan))
print(set_sijan)#as you can see it didnot print the last 4 which is present there
#sets are unindexed

In [ ]:
set_jenish={2,3,4,5,6,7,8,9}
union=set()
union.union(set_sijan,set_jenish)

# let's practice some questions

In [ ]:
# write a program to create a dictionary with Nepali words with their english translationn. provide user with an option to look it up

hello={
    "paani":"water",
    "kitaab":"book",
    "fohor":"garbage"
}
print("the options are :",hello.keys(),"\n")

In [ ]:

a=input("enter the nepali word you want the translation of :")
print("the translation to the word is:",hello[a])