print("hello world!")

# variable and data types

In [20]:
x=90
name='sijan'
age_list=[23,22,45,67,]
max_age=max(age_list)
print(max_age,"\n",x,"\n",name)#use commas

67
 90
 sijan

In [15]:
max_age=str(max_age)
max_age
#what happened here is we changed the max_age into string and string is always inside apostrophe

'67'

In [16]:
max_age

'67'

In [18]:
min_age=min(age_list)
min_age

22

In [21]:
#difference of age between oldest and youngest member is 
diff=max_age-min_age
diff

45

## ALWAYS REMBER JUPYTER NOTEBOOK WORKS DYNAMICALLY SO THE VARIABLE TAKES THE VALUE OF THE LATEST PROGRAM YOU RAN

In [25]:
print("next topic")

next topic

In [29]:
#conditional statements sample syntax in python
j=4
if j<5:
    print("the number is less than 5")
elif j==5:
    print("the number is equal to 5")
else:
    print("the number is greater than 5")

the number is less than 5

## in python proper intendation is necessary so be carefulllll

In [30]:
print(5+4,"\n",'sijan'+' kshetri')

9
 sijan kshetri

In [31]:
type('a')

str

In [33]:
type(4.44)

float

In [34]:
#this thing is easy in python
print(4+4.3)

8.3

## taking input in python

In [1]:
x=input("enter a number:")

enter a number:54

In [2]:
print(x)

54

In [3]:
print(type(x))

<class 'str'>

In [4]:
x-4
#when you input any message it is taken as a string

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [6]:
#for taking input of your desired data type you can .....
y=int(input("enter a number:"))
x=int(x)

enter a number:4

In [7]:
y+x

58

In [11]:
a=int(input("enter the first number:\n"))
b=int(input("enter the second number:\n"))
if a<b:
    print(b)
    print("i am inside the if condition")
print("i am no longer inside the if condition")

enter the first number:
5
enter the second number:
4
i am no longer inside the if condition

In [13]:
if a<b:
    print(b)
if a>b:
    print(a)

5

In [15]:
#we can just write and in python instead of &&
a=int(input())
b=int(input())
if a>40 and type(b) is float:#woww sijan how can you even think of these things ihiihihihihihihihihihihihhihi
    print("both pass")
else:
    print("one of them failed")

23
45
one of them failed

# nested if else

In [20]:
a=int(input())
if a>30:
    print(">30")
    if a>80:
        print(">30 and 80")
    else:
        print("only >30")
else:
    print("<30")

45
>30
only >30

In [22]:
#single line comment
"""
multi
line 
comment
"""
3+4

7

# loops

In [27]:
n=int(input())
i=1
while i<=n:
 print(i)
 i+=1
print("done")

5
1
2
3
4
5
done

In [30]:
n=int(input())
i=1
while i<n:
    if(i%2==0):
     print(i)
    else:
        pass
    i+=1
print("we have printed even numbers up to :",n)

10
2
4
6
8
we have printed even numbers up to : 10

In [ ]:
n=20
i=1
while True:
    if(i/17==0):
        print('break')
        break
    else:
        i+=1
        continue
    print('i am inside the loop')
print('done')

In [ ]:
n=20
i=1
while True:
    if(i/17==0):
        print('break')
        break
    else:
        i+=1
        continue
    print('i am inside the loop')
print('done')

In [ ]:
L=[]
for i in range (10):
    print(i+1)
    L